* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #bde0fe;
  font-family: cursive;
  padding: 5rem;
}
#nav {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  box-shadow: 3px 2px 10px 5px #84b1dc;
  border: 3px solid #cdb4db;
  margin-bottom: 5rem;
}

#nav button {
  font-family: cursive;
  font-size: xx-large;
  border: none;
  background-color: #bde0fe;
  border-radius: 5px;
}
#nav button:hover {
  background-color: #a2d2ff;
}
#about,
#main-page,
#my-mission {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffafcc;
  padding: 5rem;
  box-shadow: 3px 2px 10px 5px #84b1dc;
  transition: transform 0.2s ease-in-out;
}
#about:hover,
#main-page:hover,
#my-mission:hover {
  transform: scale(1.05);
}

#about,
#main-page,
#my-mission > * {
  margin: 0.5rem;
}

#my-mission input {
  border-radius: 10px;
  height: 2rem;
}
#my-mission button {
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
}

#main-page img {
  border: 5px solid #cdb4db;
  box-shadow: 3px 2px 10px 5px #331545;
  margin: 1rem;
  width: 15rem;
}
